<a href="/citation-mustang">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Citation Mustang Training
  </p>
  <img src="/img/citation-mustang.jpg" class="simple-cta-photo" alt="Citation Mustang Training">
  <p class="secondary-subtitle">
    We offer training for PIC Single Pilot type ratings, PIC Crew type ratings, and SIC only type ratings. Our training is with your aircraft or ours.
  </p>
  <a href="/citation-mustang" class="simple-cta-link">
    Read More
  </a>
</div>
</a>


<a href="/cj">
  <div class="simple-side-cta-container">
    <p class="secondary-cta-title">
      CJ Training
    </p>
    <img src="/img/cj.jpg" class="simple-cta-photo" alt="CJ Training">
    <p class="secondary-subtitle">
      Let our current professional pilots build a training schedule to fit your experience level in any of the CJ models.
    </p>
  <a href="/cj" class="simple-cta-link">
    Read More
  </a>
</div>
</a>
