<a href="#" target="_blank">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Title
  </p>
  <img src="https://fillmurray.com/400/400" class="simple-cta-photo">
  <p class="secondary-subtitle">
    Subtitle
  </p>
  <a href="#" target="_blank" class="simple-cta-link">
    Link
  </a>
</div>
</a>



<a href="#" target="_blank">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Title
  </p>
  <img src="https://fillmurray.com/400/400" class="simple-cta-photo">
  <p class="secondary-subtitle">
    Subtitle
  </p>
  <a href="#" target="_blank" class="simple-cta-link">
    Link
  </a>
</div>
</a>

<a href="#" target="_blank">
  <div class="simple-side-cta-container">
    <p class="secondary-cta-title">
      title
    </p>
    <img src="https://fillmurray.com/400/400"" class="simple-cta-photo">
    <p class="secondary-subtitle">
      Subtitle
    </p>
  <a href="#" target="_blank" class="simple-cta-link">
    Link
  </a>
</div>
</a>
