<a href="/courses/#citation" target="_blank">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Citation Mustang Training
  </p>
  <img src="/img/citation.jpg" class="simple-cta-photo" alt="Citation Mustang Training">
  <p class="secondary-subtitle">
    Here is a description of what you will learn in this course.
  </p>
  <a href="/courses/#citation" target="_blank" class="simple-cta-link">
    More
  </a>
</div>
</a>



<a href="/courses/#mustang" target="_blank">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Mustang Training
  </p>
  <img src="/img/mustang.jpg" class="simple-cta-photo" alt="Mustang Training">
  <p class="secondary-subtitle">
    Training for PIC Single Pilot type ratings, PIC Crew type ratings, and SIC only type ratings.
  </p>
  <a href="/courses/#mustang" target="_blank" class="simple-cta-link">
    More
  </a>
</div>
</a>

<a href="/courses/#cj" target="_blank">
  <div class="simple-side-cta-container">
    <p class="secondary-cta-title">
      CJ Training
    </p>
    <img src="/img/cj.jpg" class="simple-cta-photo" alt="CJ Training">
    <p class="secondary-subtitle">
      Let our current professional pilots build a training schedule to fit your experience level in any of the CJ models.
    </p>
  <a href="/courses/#cj" target="_blank" class="simple-cta-link">
    More
  </a>
</div>
</a>
