<header class="hero">
<div class="hero-home" style="background-image: url(/img/background-lg.jpg); background-color: {{site.data.settings.images.hero_background_hex}}">
      <div class="row">

      <div class="hero-cta">
        <div class="cta-title">The Best Aviation Training You Can Get</div>
        <div class="hero-cta-text">Dakota Wings is the most Elite Jet training you can find. Our experienced instructors keep up with the ever evolving aviation industy and tailor a course based on your knowledge and expertise.</div>
        <div class="apply-button">
          <a href="/contact" target="_blank" id="contact">
            <button id="apply" type="button">Get In Touch
            </button>
          </a>
        </div>
      </div>
    </div>
        {% include team-bio.html %}
        {% include simple-cta.html %}
        </div>
</header>
