<h2 class="center">Section Title</h2>

<div class="page-text">
  <div class="row">

    <div class="col-lg-5 col-md-5 col-lg-offset-1">
      <img src="/img/plane.jpg" alt="" class="homepage-image">
    </div>
    <div class="col-lg-5 col-md-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in risus vitae nulla consectetur bibendum ac a dui. Nam malesuada urna nulla, in mattis dolor vehicula vel. Vivamus ac malesuada sapien. Curabitur consectetur dictum lectus eu tristique. Curabitur accumsan, nisl nec ornare commodo, augue augue accumsan felis, quis pharetra libero ex eu ligula. Praesent tincidunt magna vel facilisis tristique. Nunc cursus tortor felis, sed consequat sem malesuada aliquet. Proin molestie sagittis lacus, sed dapibus metus rhoncus et. Etiam venenatis accumsan orci ac vulputate. Vivamus ut laoreet nunc. Etiam dignissim sit amet odio sed sodales. Nunc ultricies nunc id nisl feugiat imperdiet.</p>
    </div>

  </div>
</div>
