<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="navbar-header">
		<a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse">
			<img src="/img/logo.png" class="nav-logo-small"></a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button>
	</div>

	<a href="/"><img src="/img/logo.png" class="nav-logo"></a>
 	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><div class="dropdown"><a href="/" class="dropbtn">Home</a></div></li>
			<li><div class="dropdown">
			  <a href="/courses/" class="dropbtn">Courses</a>
			  <div class="dropdown-content">
					<a href="/courses/#1">Course 1</a>
					<a href="/courses/#2">Course 2</a>
					<a href="/courses/#3">Course 3</a>
			  </div>
			</div></li>
			<li><div class="dropdown"><a href="/clients/" class="dropbtn">International Clients</a></div></li>
			<li><div class="dropdown"><a href="/attitude-and-upset-training/" class="dropbtn">Attitude and Upset Recovery Training</a></div></li>
			<li><div class="dropdown"><a href="/about/" class="dropbtn">About</a></div></li>
			<li><div class="dropdown"><a href="/faq/" class="dropbtn">FAQ</a></div></li>
			<li><div class="dropdown"><a href="/contact/" class="dropbtn">Contact</a></div></li>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><div class="dropdown">
				<a class="cta" href="tel:1-{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a></div></li>
		</ul>
</div>
</nav>
