<div class="browse-container">
  <div class="row">

    <div class="col-sm-6 simple-cta">
      <a href="/citation-mustang" >
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Citation Mustang Training
        </p>
        <img src="/img/citation-mustang1.jpg" class="simple-cta-photo" alt="Citation Mustang Training">
        <p class="secondary-subtitle">
          Our focus is to provide you with training that is customized to your experience level. We offer training for PIC Single Pilot type ratings, PIC Crew type ratings, and SIC only type ratings. Our training is in aircraft training with your aircraft or ours.
        </p>
        <a href="/citation-mustang" class="simple-cta-link">
          Read More
        </a>
      </div>
      </a>
    </div>


    <div class="col-sm-6 simple-cta">
      <a href="/cj" >
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          CJ Training
        </p></a>
        <figure class="wp-caption"><img src="/img/cj.jpg" class="simple-cta-photo" alt="CJ Training"><figcaption class="wp-caption-text">Photo by: <a href="https://commons.wikimedia.org/wiki/User:Akradecki" target="_blank">Akradecki</a></figcaption>
</figure>
<a href="/cj" >
        <p class="secondary-subtitle">
          Let our current licensed professional pilots build a training schedule to fit your experience level in any of the CJ models. That includes, CJ, CJ1, CJ1+, CJ2, CJ2+, CJ3, CJ3+, CJ4, and M2. We offer training for PIC Single Pilot type ratings, PIC Crew type ratings, and SIC only type ratings.
        </p></a>
        <a href="/cj" class="simple-cta-link">
          Read More
        </a>
      </div>
      </a>
    </div>


  </div>
</div>
