<div class="browse-container">
  <div class="row">

    <div class="col-sm-4 simple-cta">
      <a href="#" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Course 1
        </p>
        <img src="https://fillmurray.com/400/400" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Here is a description of what you will learn in this course.
        </p>
        <a href="#" target="_blank" class="simple-cta-link">
          Link
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="#" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Course 2
        </p>
        <img src="https://fillmurray.com/400/400" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Here is a description of what you will learn in this course.
        </p>
        <a href="#" target="_blank" class="simple-cta-link">
          Link
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="#" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Course 3
        </p>
        <img src="https://fillmurray.com/400/400" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Here is a description of what you will learn in this course.
        </p>
        <a href="#" target="_blank" class="simple-cta-link">
          Link
        </a>
      </div>
      </a>
    </div>


  </div>
</div>
