<div class="homepage-bio">
  <p class="team-bio">
  Go out on a limb - that's where the fruit is. We don't need any guidelines or formats. All we need to do is just let it flow right out of us. Didn't you know you had that much power? You can move mountains. You can do anything. Don't kill all your dark areas - you need them to show the light. That is when you can experience true joy, when you have no fear. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. In your imagination you can go anywhere you want. In painting, you have unlimited power. You have the ability to move mountains. You can bend rivers. But when I get home, the only thing I have power over is the garbage. If you don't like it - change it. It's your world.
  </p>
</div>
