<div class="homepage-bio">
  <p class="team-bio">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit dui nec lacus feugiat convallis sed quis arcu. Nam condimentum maximus ante. Nulla accumsan erat vel semper tristique. Curabitur semper velit quis convallis fringilla. Nullam sagittis mi vitae aliquet laoreet. Fusce velit lectus, interdum quis malesuada semper, molestie vitae tortor. Maecenas pellentesque varius lacus, id consectetur lorem eleifend sed. Suspendisse posuere congue risus, a tristique neque semper id. Proin molestie ligula volutpat vehicula bibendum. Nam interdum aliquam mattis. Integer nec commodo sapien. Suspendisse vehicula gravida erat, et maximus nulla. Pellentesque et libero nulla. Ut imperdiet commodo lorem, pellentesque placerat diam. Pellentesque accumsan pharetra turpis non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
</div>
