.footer
	background: $theme
	color: #ffffff
	padding: 2rem
	text-align: center
	font-size: 18px
	a
		color: #ffffff
	hr
		border-top: 2px solid $brand
	address
		font-style: normal
@media(max-width: 500px)
	.footer
		text-align: center
		.vyral-logo
			@include size(3rem)

.footer-logo
	width: 75%
	display: block
	margin: 0 auto

.attribution
	text-align: center

.footer-pad
	padding-top: 20px
