.navbar-andross
	border-bottom: 2px solid $theme
	border-radius: 0
	min-height: 52px
	background: #ffffff
	width: 100%

.navbar-andross .navbar-brand
	color: $brand
	padding-top: 20px
	padding-bottom: 33px
	font-size: 20px
	text-transform: uppercase
	max-width: 65%

.navbar-nav>li
	margin-right: 10px
	margin-bottom: 0px
	@include transition

.navbar-left>li>a
	background: transparent
	color: black
	padding: 0
	text-transform: capitalize
	font-size: 18px
	font-weight: 300
	// border: 2px solid $button-border
	// @include transition(0.3s)
	&:hover
		background: #eeeeee
		color: $brand-dark
		// border-top: 3px solid $brand
		// @include transform(scale(1.05))
		// @include transform(translateY(-0.2rem))
	&:active
		// box-shadow: 0 0 0 $brand-dark
		@include transform(translateY(0rem))
		text-decoration: none
		color: $brand
	&:focus
		text-decoration: none
		color: $brand

.cta
	background: transparent
	color: $button-text
	// padding: 1.3rem 2rem
	text-transform: capitalize
	font-size: 2rem
	font-weight: 300
	&:hover
		background: #eeeeee
		color: $brand-dark
	&:active
		text-decoration: none
		color: $brand
	&:focus
		text-decoration: none
		color: $brand

.fa-bars
	color: $brand

.navbar-toggle
	// margin-top: 20px

.phone, .fa-phone
	color: #fff

.navbar
	padding-right: 15px
	padding-left: 15px
	// height: 52px

.navbar-left
	margin-top: 1.5rem

.navbar-right
	margin-top: 1.5rem
	a
		color: $accent
		font-weight: bold

.nav>li>a
	padding: 10px

.nav-logo
	float: left !important
	max-width: 120px
	margin: 5px
	padding: 10px

// Dropdown Button
.dropbtn
	background-color: #fff
	color: #000
	font-size: 20px
	border: none


// The container <div> - needed to position the dropdown content
.dropdown
	position: relative
	display: inline-block
	margin-top: 1rem
	a
		padding: 10px 15px
		&:hover
			color: $brand
			background: #eee !important


// Dropdown Content (Hidden by Default)
.dropdown-content
	display: none
	position: absolute
	background-color: #f1f1f1
	min-width: 160px
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
	z-index: 1
	a:hover
		color: $brand


// Links inside the dropdown
.dropdown-content
	a
		color: black
		padding: 12px 16px
		text-decoration: none
		display: block

// Change color of dropdown links on hover
.dropdown-content a:hover
	background-color: #ddd

// Show the dropdown menu on hover
.dropdown:hover .dropdown-content
	display: block

// Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn
	background-color: $brand


@media (max-width: 760px)
	.nav-logo
		display: none
	.hero-img
		height: 300px

	.nav-logo-small
		max-width: 120px
		margin-top: -10px


@media(max-width: 347px)
	.navbar
		padding-right: 5px
		padding-left: 5px
	.navbar-header
		a.navbar-brand
			width: 0
			overflow: hidden
			display: none
			opacity: 0
